.advantage-card {
  min-height: 300px;
  padding: 40px 45px 35px;
  outline: 1px solid #EBEBEB;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 5px;
    height: 100%;
    background-color: #00B2FF;
  }

  &:hover {
    outline: none;
    background-color: #00B2FF;
    color: #F2F5F7;
  }

  @include vp-1023 {
    min-height: 360px;
    padding-bottom: 32px;
  }

  @include vp-767 {
    min-height: 325px;
    padding: 26px 29px 74px;
  }
}

.advantage-card__icon {
  margin-bottom: 20px;
  width: 35px;
  height: 35px;
  stroke: #00B2FF;

  @include vp-1023 {
    margin-bottom: 16px;
  }

}

.advantage-card:hover .advantage-card__icon {
  stroke: #F2F5F7;
}

.advantage-card__title {
  margin: 0 0 15px;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.4;
  color: #00B2FF;

  @include vp-1023 {
    margin-bottom: 9px;
  }

  @include vp-767 {
    font-size: 20px;
  }
}

.advantage-card:hover .advantage-card__title {
  color: #F2F5F7;
}

.advantage-card__description {
  margin: 0;
  font-family: $ff-pt-mono;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.35;
  color: #041827;

  @include vp-767 {
    font-size: 14px;
  }
}

.advantage-card:hover .advantage-card__description {
  color: #F2F5F7;
}
