.btn {
  display: inline-flex;
  padding: 10px 20px;

  color: $color-default-white;

  background-color: $color-neon-blue;
  border: none;
  cursor: pointer;
  user-select: none;

  transition: opacity $trans-default;

  &--red {
    background-color: $color-torch-red;
  }

  &:disabled {
    opacity: 0.5;

    pointer-events: none;
  }

  @include hover-focus {
    opacity: 0.8;
  }
}

.btn--order {
  min-width: 160px;
  align-self: start;
  padding: 11px 15px;
  background-color: inherit;
  border: 1px solid #f2f5f7;
  border-radius: 3px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #f2f5f7;
}

.btn--leading {
  padding: 16px 30px 18px 25px;
  background: #00b2ff;
  border-radius: 3px;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;

  @include vp-767 {
    width: 100%;
    padding: 13px 30px 11px 25px;
    font-size: 14px;
    line-height: 1.14;
  }
}

.btn--unwrap {
  display: block;
  min-width: 180px;
  padding: 12px 4px 15px;
  background-color: inherit;
  border: 1px solid #00b2ff;
  border-radius: 3px;
  font-family: $ff-roboto-condensed;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #00b2ff;

  @include vp-767 {
    min-width: 160px;
    padding: 8px 4px 9px;
  }
}

.btn--products {
  min-width: 60px;
  min-height: 60px;
  background: #00b2ff;
  border-radius: 3px 0 0 0;

  & svg {
    color: #00b2ff;
  }

  @include vp-767 {
    min-width: 40px;
    min-height: 40px;
    padding: 10px;
  }
}

.btn--form {
  display: block;
  width: 100%;
  max-width: 265px;
  min-height: 45px;
  padding-top: 16px;
  background: #041427;
  border-radius: 3px;
  font-family: $ff-roboto-condensed;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $color-default-white;

  @include vp-767 {
    max-width: none;
  }
}

.btn--form-modal {
  max-width: none;
}
