.feedback {
  background-color: #00B3FF;
  background: url('../img/form-background.png') no-repeat center/cover;

  @include retina {
    background-image: url("../img/form-background@2x.png");
  }

  @include vp-1023 {
    background-image: none;
    background-color: #00B3FF;
  }

}

.feedback__wrapper {
  margin: 0 auto;
  max-width: 1220px;
  padding: 166px 0 248px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 40px;

  @include vp-1023 {
    grid-template-columns: 1fr;
    padding: 46px 26px 125px;
  }
}

.feedback__image-wrapper {
  position: relative;

  @include vp-1023 {
    display: none;
  }
}

.feedback__image {
  position: absolute;
  left: 0;
  top: 19%;
}
