.form__fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.form__heading {
  margin-bottom: 10px;
  font-family: $ff-roboto-condensed;
  font-weight: 400;
  font-size: 36px;
  line-height: 1.42;
  color: $color-default-white;

  &--modal {
    margin-bottom: 5px;
    font-size: 30px;
    line-height: 1.41;
  }

  @include vp-1023 {
    margin-bottom: 6px;
  }

  @include vp-767 {
    font-size: 30px;
    line-height: 1.41;
  }
}

.form__description {
  margin: 0 0 35px;
  font-family: $ff-pt-mono;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.38;
  color: $color-default-white;

  @include vp-1023 {
    margin-bottom: 25px;
  }

  @include vp-767 {
    margin-bottom: 34px;
    font-size: 14px;
    line-height: 1.34;
  }
}

.form__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(2, 275px);
  column-gap: 30px;
  row-gap: 20px;

  &--modal {
    display: flex;
    flex-direction: column;
  }

  @include vp-1023 {
    grid-template-columns: repeat(2, minmax(320px, 1fr));
  }

  @include vp-767 {
    grid-template-columns: minmax(270px, 1fr);
  }
}

.form__item {
  width: 100%;

  @include hover {
    outline: 1px solid $color-default-black;
  }
}

.form__list--modal .form__item--text {
  order: 1;
}

.form__list--modal .form__item--tel {
  order: 2;
}

.form__item--checkbox {
  grid-column: -1 / -2;

  @include vp-767 {
    grid-column: 1 / 2;
  }
}

.form__item--checkbox-modal {
  order: 5;
}

.form__item--button {
  grid-column: 1 / 2;
  grid-row: 3 / 4;

  @include vp-767 {
    grid-row: 4 / 5;
  }
}

.form__list--modal .form__item--button {
  order: 4;
}

.form__item input {
  padding: 15px;
  width: 100%;
  min-height: 50px;
  border: none;
  background: rgba(4, 20, 39, 0.15);
  border-radius: 3px;

  &::placeholder {
    font-family: $ff-pt-mono;
    font-size: 16px;
    line-height: 1.38;
    color: $color-default-white;
  }
}

.form__item textarea {
  width: 100%;
  padding: 24px 15px 22px;
  border: none;
  background: rgba(4, 20, 39, 0.15);
  border-radius: 3px;
  font-family: $ff-pt-mono;
  font-size: 16px;
  line-height: 1.38;
  color: $color-default-white;

  &::placeholder {
    font-family: $ff-pt-mono;
    font-size: 16px;
    line-height: 1.38;
    color: $color-default-white;
  }

  @include vp-1023 {
    padding: 29px 15px 16px;
  }

  @include vp-767 {
    padding: 23px 15px 48px;
  }
}

.form__item--textarea {
  grid-column: 1 / -1;
}

.form__item--textarea-modal {
  order: 3;
}

.form__item--textarea ~ li {
  margin-top: 8px;

  @include vp-767 {
    margin-top: 2px;
  }
}

.form__item--textarea-modal ~ li {
  margin-top: 0;
}

.form__item--textarea ~ .form__item--checkbox {
  @include vp-1023 {
    margin-top: 3px;
  }

  @include vp-767 {
    margin-top: -10px;
  }
}

.form__item--checkbox label {
  display: flex;
  padding-left: 37px;
  position: relative;

  @include vp-1023 {
    padding-left: 26px;
  }

  @include vp-767 {
    padding-left: 30px;
  }
}

.form__item--checkbox input {
  padding: 0;
  min-height: auto;
  width: 15px;
  height: 15px;
  appearance: none;
  border: 1px solid $color-default-white;
  border-radius: 2px;
  background-color: inherit;
  position: absolute;
  left: 9px;
  top: 47%;

  @include vp-1023 {
    left: 0;
  }

  @include vp-767 {
    left: 5px;
  }
}

.form__item--checkbox-modal input {
  top: 0;
  margin: auto;
}

.form__item--checkbox span {
  padding-top: 15px;
  font-family: $ff-pt-mono;
  font-size: 14px;
  line-height: 1.14;
  color: $color-default-white;
  opacity: 0.8;
}

.form__item--checkbox-modal span {
  padding-top: 0;
}

.form__item--checkbox svg {
  opacity: 0;
}

.form__item--checkbox input:checked ~ svg {
  position: absolute;
  opacity: 1;
  left: 12px;
  top: 54%;
  color: #00b3ff;

  @include vp-1023 {
    left: 2px;
    top: 57%;
  }

  @include vp-767 {
    left: 7px;
  }
}

// модальное окно
.form__item--checkbox-modal input:checked ~ svg {
  top: 17%;

  @include vp-1023 {
    top: 17%;
  }
}
