.history {
  background-color: #F8FDFF;
}

.history__wrap {
  margin: 0 auto;
  max-width: 1220px;
  padding: 60px 0 100px;
  display: grid;
  grid-template-columns: 170px 1fr;
  column-gap: 80px;

  @include vp-1023 {
    padding: 15px 0 76px;
    column-gap: 30px;
  }
}

.history__image {
  @include vp-767 {
    display: none;
  }
}


.history__image img {
  @include vp-1023 {
    margin-left: auto;
  }
}

.history__text-wrap {
  @include vp-1023 {
    padding-right: 24px;
  }
}

.history__heading {
  margin: 0 0 13px;
  font-family: $ff-roboto-condensed;
  font-weight: 400;
  font-size: 36px;
  line-height: 1.42;
  color: #041827;
}

.history__text {
  margin: 0 0 19px;
  font-family: $ff-pt-mono;
  font-size: 16px;
  line-height: 1.375;
  color: #041827;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.history__text--hidden {
  display: none;
}

.history__button {
  margin-top: 40px;

  @include vp-1023 {
    margin-top: 19px;
  }
}
