.leading {
  margin-top: -60px;
  background-color: $color-default-black;
  color: #F2F5F7;

  background: url('../img/main-background.jpg') no-repeat center / cover;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/header-background@2x.png");
  }

}

.leading__wrapper {
  padding: 244px 0 280px 434px;
}

.leading__heading {
  margin: 0 0 32px;
  font-family: 'Roboto Condensed';
  font-weight: 700;
  font-size: 80px;
  line-height: 1.175;
  letter-spacing: 0.07em;
  text-transform: uppercase;
}


.leading__description {
  margin: 0 0 47px;
  max-width: 685px;
  font-family: $ff-pt-mono;
  font-size: 22px;
  line-height: 1.55;
}
