.products {
  background-color: #041827;
  color: $color-default-white;
}

.products__wrap {
  margin: 0 auto;
  padding: 66px 0 143px;
  max-width: 1220px;

  @include vp-1023 {
    padding: 56px 26px 75px;
  }

  @include vp-767 {
    padding: 47px 9px 86px;
  }
}

.products__heading {
  margin: 0 0 50px;
  font-family: $ff-roboto-condensed;
  font-weight: 400;
  font-size: 36px;
  line-height: 1.42;

  @include vp-1023 {
    margin-bottom: 36px;
  }

  @include vp-767 {
    margin-bottom: 28px;
    padding-right: 8px;
    font-size: 28px;
    line-height: 1.41;
  }
}

.products__heading--not-mobile {
  @include vp-767 {
    display: none;
  }
}

.products__heading--for-mobile {
  @media (min-width: $vp-768) {
    display: none;
  }
}

.products__cards {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, 350px);
  column-gap: 85px;
  row-gap: 15px;

  @include vp-1023 {
    grid-template-columns: 1fr;
    row-gap: 30px;
  }
}

.products__card {
  min-height: 650px;
  position: relative;

  @include vp-1023 {
    min-height: 250px;
  }
}

.products__card--fabrication {
  background: #2a302c url("../img/products/product-1.jpg") no-repeat center / cover;

  @include retina {
    @include vp-767 {
      background-image: url("../img/products/product-1-mobil@2x.jpg");
    }


    @include vp-1023 {
      background-image: url("../img/products/product-1-tablet@2x.jpg");
    }

    @media (min-width: $vp-1024) {
      background-image: url("../img/products/product-1@2x.jpg");
    }
  }

  @include vp-1023 {
    background-image: url("../img/products/product-1-tablet.jpg");
  }

  @include vp-767 {
    background-image: url("../img/products/product-1-mobil.jpg");
  }
}

.products__card--montage {
  background: #2a302c url("../img/products/product-2.jpg") no-repeat center / cover;

  @include retina {
    @include vp-767 {
      background-image: url("../img/products/product-2-mobil@2x.jpg");
    }

    @include vp-1023 {
      background-image: url("../img/products/product-2-tablet@2x.jpg");
    }

    @media (min-width: $vp-1024) {
      background-image: url("../img/products/product-2@2x.jpg");
    }
  }

  @include vp-1023 {
    background-image: url("../img/products/product-2-tablet.jpg");
  }

  @include vp-767 {
    background-image: url("../img/products/product-2-mobil.jpg");
  }
}

.products__card--lighting {
  background: #2a302c url("../img/products/product-3.jpg") no-repeat center / cover;

  @include retina {
    @include vp-767 {
      background-image: url("../img/products/product-3-mobil@2x.jpg");
    }

    @include vp-1023 {
      background-image: url("../img/products/product-3-tablet@2x.jpg");
    }

    @media (min-width: $vp-1024) {
      background-image: url("../img/products/product-3@2x.jpg");
    }
  }

  @include vp-1023 {
    background-image: url("../img/products/product-3-tablet.jpg");
  }

  @include vp-767 {
    background-image: url("../img/products/product-3-mobil.jpg");
  }
}

.products__card-link {
  display: block;
  width: 100%;
  height: 100%;
  padding: 50px 80px 70px 40px;

  @include vp-1023 {
    padding: 38px 80px 70px 45px;
  }

  @include vp-767 {
    padding: 26px 80px 70px 30px;
  }
}

.products__card-text {
  font-size: 20px;
  line-height: 1.5;
  color: $color-default-white;

  @include vp-767 {
    font-size: 18px;
    line-height: 1.67;
  }
}

.products__card-button {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
